.center-heading{
text-align:center;

}
body{
    font-family:'Open Sans';
background:rgba(0, 157, 255, 0.481);
}
.tile-container{
    width:100%;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    font-size:49px;
    text-align:center;

}
.tile-container div{
margin:3px;
min-width:200px;
padding-top:5%;
}
/* .tile:-moz-any() */


.tile:hover{
    cursor: pointer;
    color:white;
    background-color:rgb(255, 200, 0);
}
.tile{
    background-color:blue;
    height:200px;
    width:200px;
}